@charset "UTF-8";

@media screen and (min-width: 769px) {
    header>i#iburger { 
        display: none;
    }
    menu {
        display: block;
        margin: auto;
    }
    menu>ul>li {
        display: inline-block;
        margin: auto;
    }
    main {
        width: 769px;
    }
}
